<!DOCTYPE html>
<html lang = "en">
<head>
<link rel = "stylesheet" type = "text/css" href = "../static/css/main.css">
<title> My Homepage </title>
</head>
<body>
<div id = "title"> <h1> My Balance Graph <h1> </div>
<div id = "goals"> <h3> My Goals </h3> </div>
<div id = "goalsOuterBox">
<div id = "savingsBox"> Saving </div>
<br></br>
<div id = "wishList"> Wish List </div>
 </div>

<form>
	In <select name  ="time">
	<option value = 1> one week </option>
	<option value = 2> two weeks </option>
	<option value = 3> three weeks </option>
	<option value = 4> one month </option>
</select>
	<!-- us javascript here to submit on change, no submit button necessary --> 

<input type = "submit">
	you will have $___________ in your account.
</form>	
</body>
</html>